* {
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 30px 20px 30px;
}

.h3-nav {
    color: blueviolet;
}

.nav-links>ul {
    display: flex;
    gap: 35px;
    list-style: none;
    font-size: large;
    font-weight: bold;
}

.nav-links>ul>li>a {
    text-decoration: none;
    color: rgb(107, 103, 103);

}

.last-li {
    background-color: blueviolet;
    padding: 9px 20px 9px 20px;
    border-radius: 10px;
    list-style: none;
    margin-right: 80px;
}

.last-li>a {
    color: white;
    text-decoration: none;
}


/* section 1 */

.sect1-img {
    margin-left: 18%;
}

.sect1-text {
    text-align: center;
    line-height: 3rem;
}

.sect1-text>p {
    font-weight: bold;
    font-size: large;
    color: rgb(114, 114, 114);
}

.sect1-text>button {
    padding: 15px 40px 15px 40px;
    background-color: rebeccapurple;
    border: none;

}

.sect1-text>button>a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

.sect1-icons {
    margin-left: 20%;
    margin-top: 25px;
}

/* section2 */

.sect2 {
    background-color: rgb(248, 248, 248);
    height: 130vh;
}

.sect2-text {
    text-align: center;
    margin-top: 4rem;
    line-height: 2.5rem;
}

.sect2-text>p {
    font-weight: bold;
    color: darkgrey;
}

.sect2-card1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 3rem;
}

.sect2-card1>div{
    border: none;
    box-shadow: 2px 5px 2px #888888;
    height: 36vh;
    text-align: center;
    line-height: 25px;
    width: 20rem;
}

.sect2-card1>div>h2{
    color: gainsboro;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.sect2-card1>div>img {
    margin-top: 10px;
}


/* section 3 */

.sect3 {
    height: 200vh;
}

.sect3-text {
    text-align: center;
    margin-top: 4rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.sect3-text>p {
    font-weight: bold;
    color: darkgrey;
}

.sect3-div1 {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
    margin-bottom: 5rem;
}

.sect3-div1-text {
    margin-top: 7rem;
    text-align: center;
}

.sect3-div1-text>p {
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    color: #888888;
    margin-bottom: 10px;
}

.sect3-div1-text>a {
    padding: 12px 20px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
}

/* section 4 */

.sect4 {
    height: 50vh;
    background-color: rebeccapurple;
    color: white;
}

.sect4-text {
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.sect4-text>p {
    font-weight: bold;
}

.sect4-nmr {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.sect4-nmr>div>p {
    font-size: 70px;
    font-weight: bold;
}

.sect4-nmr>div>h4 {
    text-align: center;
}

.sect4-a {
    text-align: center;
    margin-top: 25px;
}

.sect4>div>a {
    color: white;
}

/* section 5 */

.sect5 {
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    margin-top: 70px;
}

.sect5-div1 {
    margin-top: 20px;
}

.div-child1 {
    display: flex;
    justify-content: space-evenly;
}

.div-child1>div {
    margin: 10px;
}

.div-child1>div>p {
    color: rgb(189, 189, 189);
    font-weight: bold;
    margin-top: 8px;
}

.sect5-img {
    margin-top: 20px;
}

/* FOOTER */

.footer-top {
    align-items: center;
    text-align: center;
    background-color: #eff1f2;
    height: 50vh;
    line-height: 25px;
}

.footer-top>div {
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.footer-top>div>h4 {
    color: rgb(193, 193, 193);
}

.footer-top>div>h2 {
    color: #2C3E50;
}

.text {
    padding: 12px 45px 12px 45px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
}

.button {
    padding: 12px 95px 12px 95px;
    background-color: rebeccapurple;
    color: white;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
}

.footer-top>div>h6 {
    color: rgb(193, 193, 193);
}



.footer-bottom {
    text-align: center;
    background-color: #eff1f2;
    color: rgb(193, 193, 193);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-bottom>div>ul {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;

}

.footer-bottom>div>ul>li {
    list-style: none;
}

@media (min-width: 375px) and (max-width:426px) {
    /* Media nav */

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
    }

    .sign-up {
        margin-right: 30px;
    }

    .last-li {
        width: 100%;
        text-align: center;
    }


    /* media section 1 */
    .sect-1 {
        padding: 20px;
    }

    .sect1-img {
        display: none;
    }

    .sect1-icons {
        display: none;
    }

    /* media section 2 */
    .sect2 {
        height: auto;
    }

    .sect2-card1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding-top: 30px;

    }

    .sect2-card1>div {
        margin-bottom: 20px;
        height: 45vh;
    }


    /* media section 3 */
    .sect3 {
        height: auto;
        padding: 30px;
    }

    [src="./public/images/image2.PNG"] {
        display: none;
    }

    .sect3-div1 {
        margin: 0;
    }

    /* media Section 4 */
    .sect4 {
        height: auto;
        padding: 30px;
    }

    .sect4-nmr {
        display: block;
        text-align: center;
    }

    .sect4-nmr>div {
        margin-bottom: 20px;
    }

    /* media section 5 */
    .sect5{
        margin: 0;
        height: auto;
        padding: 40px;
    }
    [src="./public/images/img2.PNG"] {
        display: none;
    }

    .div-child1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    /* media footer */
    .footer-top{
        height: auto;
        padding: 30px;
    }

    .footer-bottom{
        height: auto;
        padding: 20px;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: space-between;
    }
}